@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="ml">
<head>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/Content/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body class="font">

    <div class="overlay"></div>

    <section class="cd-hero">

        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>
                <ul>
                    <li class="selected"><a href="#0"><div class="image-icon"><img src="~/Content/img/home-icon.png" /></div><h6>Welcome</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="~/Content/img/about-icon.png" /></div><h6>About Us</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="~/Content/img/featured-icon.png" /></div><h6>Follow Us</h6></a></li>
                    <li><a href="#0"><div class="image-icon"><img src="~/Content/img/contact-icon.png" /></div><h6>Contact Us</h6></a></li>
                    <li class="external"><a href="~/Home/Index"><div class="image-icon"><img src="~/Content/img/e5.png" /></div><h6>English</h6></a></li>
                </ul>
            </nav>
        </div>

        <ul class="cd-hero-slider">

            <li class="selected">
                <div class="heading">
                    <h1>Thrisakthi Devasthanam</h1>
                    <span>Chandrasekharan P.V.</span>
                </div>
                <div class="cd-full-width first-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content first-content">
                                    <h4>LET’S TALK MORE ABOUT THRISAKTHI DEVASTHANAM</h4>
                                    <p>
                                        ജീവിതത്തിൽ എല്ലാ മേഖലകളിലും പലവിധ പ്രശ്നങ്ങളാൽ കഷ്ടതകൾ അനുഭവിക്കുന്നവർക്കും ജ്യോതിഷ - ദൈവിക വിധി പ്രകാരം
                                        പരിഹാരങ്ങൾ ആഗ്രഹിക്കുന്നവർക്കും ഹാർദ്ധവമായ സ്വാഗതം.

                                        ജാതി - മത ഭേദംകൂടാതെ എല്ലാവർക്കും ഉത്തമ കർമ്മ പുണ്യ ഫലാനുഭവങ്ങൾ. ഏത് ദേശത്തു ജീവിക്കുന്നവർക്കും നേരിട്ട് വരാതെ
                                        തന്നെ ശ്രേഷ്ഠമായ പരിഹാരങ്ങൾ ചെയ്യാവുന്നതാണ്.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="heading">
                    <h1>About Us</h1>
                    <span>Get More Info About Thrisakthi Devasthanam</span>
                </div>
                <div class="cd-half-width second-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content second-content">
                                    <div class="row">
                                        <div class="col-md-7 left-image">
                                            <img src="~/Content/img/jyothisham.jpg" />
                                        </div>
                                        <div class="col-md-5">
                                            <div class="right-about-text">

                                                <h4>What we do?</h4>
                                                <p>
                                                    പ്രശ്ന ചിന്ത <br />
                                                    ജാതകവിഷയങ്ങൾ <br />
                                                    വിവാഹപൊരുത്തം<br />
                                                    മുഹൂർത്തം <br />
                                                    ഹോമ കർമ്മാദികൾ <br />
                                                    ബഹുവിധ പൂജകൾ <br />
                                                    വിവിധ യന്ത്രങ്ങൾ /ഏലസ്സുകൾ <br />
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="left-about-text">
                                                <h4>Who we are?</h4>
                                                <p>
                                                    ദിവ്യമായ ജ്യോതിഷത്തിൻ്റെ സൂക്ഷ്മമായ മാർഗ്ഗനിർദ്ദേശം തത്വങ്ങൾ അനുസരിച്ച്‌  പ്രശ്നവിചാരം ചെയ്‌തും,
                                                    അനാവശ്യമായ പാഴ്ച്ചിലവുകളും ആർഭാടങ്ങളും ഒഴിവാക്കി ഈശ്വര ഹിതാനുസരണം യഥാവിധി ഹോമകർമ്മാദികളിലൂടെയും,
                                                    ബഹുവിധ പൂജാദികളിലൂടെയും ദോഷപരിഹാരങ്ങൾ ചെയ്‌തും,
                                                    സ്വദേശത്തും വിദേശത്തുമായി അസംഖ്യം ദുഖിതർക്ക്‌ കഴിഞ്ഞ 35 വർഷങ്ങളായി ജീവിതഗതിയിൽ ആശ്വാസമേകി വരുന്ന സുകൃത ദേവസ്ഥാനം.

                                                    നിങ്ങളുടെ സമാധാനം കെടുത്തുന്ന പ്രശ്നങ്ങൾ, കുടുംബം, ദാമ്പത്യം, സന്താനം, വിദ്യാഭ്യാസം, തൊഴിൽ, വിവാഹം, വീട്, ധനം,
                                                    വാഹനം, ബിസിനസ്സ്, ഭാഗ്യദോഷം, കടം, ശത്രുക്കൾ, ആകർഷണം, അംഗീകാരം, സ്ഥാനമാനങ്ങൾ, അഭിവൃദ്ധി, മാനസികപ്രശ്നങ്ങൾ,
                                                    ഐശ്വര്യം, സാമ്പത്തികത്തകർച്ച, ആരോഗ്യം, സത്‌കൃതി, ജന്മ-കർമ്മ ദുരിതങ്ങൾ, എന്നിങ്ങനെ എന്ത് തന്നെ ആയാലും നിരാശപ്പെടേണ്ടതില്ല.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-5 right-image">
                                            <img src="~/Content/img/homakarma.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="heading">
                    <h1>FOLLOW US ON</h1>
                    <span></span>
                </div>
                <div class="cd-half-width third-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content third-content">
                                    <div class="row">
                                        <div class="col-md-7 left-image">
                                            <img src="~/Content/img/left-feature-image.png" />
                                        </div>
                                        <div class="col-md-5">
                                            <div class="right-feature-text content fivth-content">
                                                <h4>Follow us on:</h4>
                                                <ul class="social-icons">
                                                    <i><a href="https://www.facebook.com/ThrisakthiDev/" target="_blank"><i class="fa fa-facebook"></i></a></i>
                                                    <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <li>
                <div class="heading">
                    <h1>Contact us</h1>
                    <span>You'll be responded within 48 hrs</span>
                </div>
                <div class="cd-half-width fivth-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content fivth-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="left-info">
                                                <p><h3>Address</h3></p>
                                                <p>
                                                    Chandrasekharan P.V<br /><br />
                                                    Astrologer<br />
                                                    Thrisakthi Devasthanam<br />
                                                    P.O.Vadakkekkara<br />
                                                    N. Paravur<br />
                                                    Ernakulam Dist.<br />
                                                    Pin: 683522<br /><br />
                                                    Phone No.<br />
                                                    +919744845374 / +917736045374<br /><br />
                                                    (8am to 10pm)
                                                </p>
                                                <ul class="social-icons">
                                                    <i><a href="https://www.facebook.com/ThrisakthiDev/" target="_blank"><i class="fa fa-facebook"></i></a></i>
                                                    <i><a href="#"><i class="fa fa-twitter"></i></a></i>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8">

                                            <!---------GOOGLE MAP-------------->
                                            <style>
                                                #map {
                                                    height: 410px;
                                                    width: 100%;
                                                }
                                            </style>
                                            <div class="col-sm-10">
                                                <h2>Google Map</h2>
                                                <div id="map"></div>
                                            </div>
                                            <script>
                                                function initMap() {
                                                    var uluru = { lat: 10.163631, lng: 76.210514 };
                                                    var map = new google.maps.Map(document.getElementById('map'), {
                                                        zoom: 7,
                                                        center: uluru
                                                    });
                                                    var marker = new google.maps.Marker({
                                                        position: uluru,
                                                        map: map
                                                    });
                                                }
                                            </script>
                                            <script async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async async=async defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer defer=defer
                                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP5Egj1zEcFVArv-yg0ZZmwnB0lKFBbKg&callback=initMap">
                                            </script>
                                            <!---------END GOOGLE MAP-------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> <!-- .cd-hero-slider -->
    </section> <!-- .cd-hero -->


    <footer>
        <p>
            Copyright &copy; 2017 Thrisakthi Devasthanam
            | Designed by <a href="http://www.templatemo.com" target="_parent"><em>templatemo</em></a>
        </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>
</html>